* {
    margin: 0;
}

body {
    display: flex;
    background: #f1f1f1;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 220px;
    height: 400px;
    background-color: white;
}

.content-ctr {
    padding: 20px 30px;
    box-sizing: border-box;
}

.logo {
    width: 40%;
}

.top-ctr {
    text-align: center;
}

.top-ctr > img {
    margin-bottom: 25px;
}

.top-ctr > p {
    font-size: 10px;
    margin: 10px 0; 
}

input[type="password"], input[type="email"] {
    border: 1px solid lightgrey;
    border-radius: 3px;
    margin-bottom: 10px;
    font-size: 8px;
    width: 100%;
    padding: 5px;
}

.check-ctr {
    font-size: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.check-ctr > input {
    transform: scale(0.65);
    margin-right: 3px;
}

input[type="submit"] {
    width: 100%;
    background-color: cornflowerblue;
    border-radius: 3px;
    border: none;
    padding: 6px 0;
    font-size: 8px;
    color: white;
}

.pw-forgot {
    text-align: center;
    width: 100%;
    margin-top: 5px;
}

.pw-forgot > a {
    text-decoration: none;
    color: grey;
    font-size: 10px;
}

@media screen and (min-width: 500px) {
    .container {
        box-shadow: 5px 3px 20px -3px #999999;
        height: 300px;
    }
}

@media screen and (min-width: 750px) {
    .container {
        width: 440px;
        display: flex;
    }

    .content-ctr {
        width: 50%;
        height: 100%;
    }
    
    .image-ctr {
        width: 50%;
        height: 100%;
        /*Below is used in example becuase different picture*/
        /*background: bottom / 100% url('./worker.jpg');*/
        background: right / cover url('./worker.jpg');
    }
}